body{
    background-color: #1f2937;

}
h1 {
    color: #F9FAF8;
    size: 48px;
    font-weight: bolder;
    padding-top: 10rem;
    right: 80rem;
    position: absolute;
}

h3{
    color: #F9FAF8;
    position: absolute;
    top: 2px;
    right: 85rem
}
h4{
    position: absolute;
    bottom: 43rem;
    right: 80rem;
}

h5{
    position: absolute;
    right: 38rem;
    top: 2px;
    size: 18px;
    color: #E5E7EB;
}

.headertwo{
    position: absolute;
    right: 30rem;
    top: 2px;   
}
.headerthree{
    position: absolute;
    right: 22rem;
    top: 2px;
}
.box {
   position: absolute;
    border: 100px solid grey;
    width: 150px;
    right: 40rem;
    bottom: 40rem;
  }
.two{
padding-top: 5rem;
padding-bottom: 5rem;
padding-right: 10rem;   
padding-left: 10rem;
 position: absolute;
 bottom: 20rem;
 background-color: white;
}